In [2]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quali"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quali
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [19]:
print(df.head())

  vegetables   fruits      drinks
0      onion    apple  softdrinks
1     tomato   banana    cococola
2    brinjal  berries      coffee

In [7]:
import pandas as pd
from datetime import date
now=pd.to_datetime(str(date.today()), format="%Y-%m-%d")
print("today's date")
print(now)

today's date
2025-01-28 00:00:00

In [20]:
#Creating a dataframe

import pandas as pd
data={'vegetables':["onion","tomato","brinjal"],'fruits':["apple","banana","berries"],'drinks':["softdrinks","cococola","coffee"]}
dp=pd.DataFrame(data,index=["item1","item2","item3"])
print(dp)

      vegetables   fruits      drinks
item1      onion    apple  softdrinks
item2     tomato   banana    cococola
item3    brinjal  berries      coffee

In [21]:
print(df.head())

  vegetables   fruits      drinks
0      onion    apple  softdrinks
1     tomato   banana    cococola
2    brinjal  berries      coffee

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   vegetables  3 non-null      object
 1   fruits      3 non-null      object
 2   drinks      3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes
None

In [24]:
print(df.head(1))

  vegetables fruits      drinks
0      onion  apple  softdrinks

In [25]:
print(df.tail())

  vegetables   fruits      drinks
0      onion    apple  softdrinks
1     tomato   banana    cococola
2    brinjal  berries      coffee

In [26]:
print(df.tail(2))

  vegetables   fruits    drinks
1     tomato   banana  cococola
2    brinjal  berries    coffee

In [27]:
print(df.describe())

       vegetables fruits      drinks
count           3      3           3
unique          3      3           3
top         onion  apple  softdrinks
freq            1      1           1

In [4]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [5]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [6]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
print(df.head(3))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [8]:
print(df.tail(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
#Print Summary of transaction data set

print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [10]:
#2. Print Numbers of Attributes

count=len(df.columns)
print(f"no.of attributes is: {count}")

no.of attributes is: 5

In [11]:


count1=len(df.count())
print(count1)

5

In [12]:
#3. Print Numbers of Records

print(f"no.of records:{len(df)}")

no.of records:10

In [13]:
#4. Get the row names
row_names = df.index.tolist()
print(f"names of row names:{row_names}")

names of row names:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#5. Get the column names

column_names=df.columns.tolist()
print(column_names)

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [15]:
#6. View top 10 Records

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [16]:
#7.Change the name of column “ Quantity” to “Quant”

df.rename(columns={"Quantity":"Quanti"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quanti
0              1      2010-08-21     7.0          2       1
1              2      2011-05-26     3.0          4       1
2              3      2011-06-16     3.0          3       1
3              4      2012-08-26     1.0          2       3
4              5      2013-06-06     2.0          4       1
5              6      2013-12-23     2.0          5       6
6              7      2013-12-30     3.0          4       1
7              8      2014-04-24     NaN          2       3
8              9      2015-04-24     7.0          4       3
9             10      2016-05-08     3.0          4       4

In [17]:
#8.Change the name of columns ProductID and UserID

df.rename(columns={"UserID":"UID","ProductID":"PID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quanti
0              1      2010-08-21  7.0    2       1
1              2      2011-05-26  3.0    4       1
2              3      2011-06-16  3.0    3       1
3              4      2012-08-26  1.0    2       3
4              5      2013-06-06  2.0    4       1
5              6      2013-12-23  2.0    5       6
6              7      2013-12-30  3.0    4       1
7              8      2014-04-24  NaN    2       3
8              9      2015-04-24  7.0    4       3
9             10      2016-05-08  3.0    4       4

In [18]:
#9. Order the rows of transactions by TransactionId
#descending, if ascending then ascending=True

out=df.sort_values(by="TransactionID", ascending=False)
print(out)

   TransactionID TransactionDate  UID  PID  Quanti
9             10      2016-05-08  3.0    4       4
8              9      2015-04-24  7.0    4       3
7              8      2014-04-24  NaN    2       3
6              7      2013-12-30  3.0    4       1
5              6      2013-12-23  2.0    5       6
4              5      2013-06-06  2.0    4       1
3              4      2012-08-26  1.0    2       3
2              3      2011-06-16  3.0    3       1
1              2      2011-05-26  3.0    4       1
0              1      2010-08-21  7.0    2       1

In [19]:
out1=df.sort_values(by="UID", ascending=True)
print(out1)

   TransactionID TransactionDate  UID  PID  Quanti
3              4      2012-08-26  1.0    2       3
4              5      2013-06-06  2.0    4       1
5              6      2013-12-23  2.0    5       6
1              2      2011-05-26  3.0    4       1
2              3      2011-06-16  3.0    3       1
6              7      2013-12-30  3.0    4       1
9             10      2016-05-08  3.0    4       4
0              1      2010-08-21  7.0    2       1
8              9      2015-04-24  7.0    4       3
7              8      2014-04-24  NaN    2       3

In [20]:
#10. Order the rows of transactions by Quantity
#ascending, TransactionDate descending

output=df.sort_values(by=["Quanti","TransactionDate"],ascending=[True, False])
print(output)

   TransactionID TransactionDate  UID  PID  Quanti
6              7      2013-12-30  3.0    4       1
4              5      2013-06-06  2.0    4       1
2              3      2011-06-16  3.0    3       1
1              2      2011-05-26  3.0    4       1
0              1      2010-08-21  7.0    2       1
8              9      2015-04-24  7.0    4       3
7              8      2014-04-24  NaN    2       3
3              4      2012-08-26  1.0    2       3
9             10      2016-05-08  3.0    4       4
5              6      2013-12-23  2.0    5       6

In [21]:
#11. Set the column order of Transactions as ProductID,
#Quantity, TransactionDate, TransactionID, UserID

df=df[["PID","Quanti","TransactionDate","TransactionID","UID"]]
print(df)

   PID  Quanti TransactionDate  TransactionID  UID
0    2       1      2010-08-21              1  7.0
1    4       1      2011-05-26              2  3.0
2    3       1      2011-06-16              3  3.0
3    2       3      2012-08-26              4  1.0
4    4       1      2013-06-06              5  2.0
5    5       6      2013-12-23              6  2.0
6    4       1      2013-12-30              7  3.0
7    2       3      2014-04-24              8  NaN
8    4       3      2015-04-24              9  7.0
9    4       4      2016-05-08             10  3.0

In [22]:
#12. Make UserID the first column of transactions

df=df[["UID","TransactionID","TransactionDate","PID","Quanti"]]
print(df)

   UID  TransactionID TransactionDate  PID  Quanti
0  7.0              1      2010-08-21    2       1
1  3.0              2      2011-05-26    4       1
2  3.0              3      2011-06-16    3       1
3  1.0              4      2012-08-26    2       3
4  2.0              5      2013-06-06    4       1
5  2.0              6      2013-12-23    5       6
6  3.0              7      2013-12-30    4       1
7  NaN              8      2014-04-24    2       3
8  7.0              9      2015-04-24    4       3
9  3.0             10      2016-05-08    4       4

In [23]:
#13. Extracting arrays from a Data Frame. Get the 2nd column

outt=df.iloc[:, 1].values
print(outt)

[ 1  2  3  4  5  6  7  8  9 10]

In [24]:
df

   UID  TransactionID TransactionDate  PID  Quanti
0  7.0              1      2010-08-21    2       1
1  3.0              2      2011-05-26    4       1
2  3.0              3      2011-06-16    3       1
3  1.0              4      2012-08-26    2       3
4  2.0              5      2013-06-06    4       1
5  2.0              6      2013-12-23    5       6
6  3.0              7      2013-12-30    4       1
7  NaN              8      2014-04-24    2       3
8  7.0              9      2015-04-24    4       3
9  3.0             10      2016-05-08    4       4

In [25]:
outt

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [26]:
#14
outt=df.iloc[:, 3].values
print(outt)

[2 4 3 2 4 5 4 2 4 4]

In [27]:
#15
print(df.iloc[[1,3,6]])

   UID  TransactionID TransactionDate  PID  Quanti
1  3.0              2      2011-05-26    4       1
3  1.0              4      2012-08-26    2       3
6  3.0              7      2013-12-30    4       1

In [28]:
#16subset rows excluding 1,3 and 6


foo=[False, True, False, True, False, False, True, False, False, False]
print(df[foo])

   UID  TransactionID TransactionDate  PID  Quanti
1  3.0              2      2011-05-26    4       1
3  1.0              4      2012-08-26    2       3
6  3.0              7      2013-12-30    4       1

In [29]:
##17. subset rows excluding 1,3 and 6
foo=[False, True, False, True, False, False, True, False, False, False]
print(df[foo])

   UID  TransactionID TransactionDate  PID  Quanti
1  3.0              2      2011-05-26    4       1
3  1.0              4      2012-08-26    2       3
6  3.0              7      2013-12-30    4       1

In [31]:
#18. Subset the first three rows
three=df.iloc[:3]
print(three)

   UID  TransactionID TransactionDate  PID  Quanti
0  7.0              1      2010-08-21    2       1
1  3.0              2      2011-05-26    4       1
2  3.0              3      2011-06-16    3       1